{% load i18n %}
{% load comments bulma_tags %}

<form id="comment-reply-form" class="comment-submit-form" method="POST" action="{% comment_form_target %}" {% if form.reply_to.value %}data-reply-to="{{ form.reply_to.value }}"{% endif %}>
  {% csrf_token %}

  {% for field in form %}
    {% if field.is_hidden %}<div>{{ field }}</div>{% endif %}
  {% endfor %}

  <div style="display:none">{{ form.honeypot }}</div>

  {{ form.comment|bulma }}
   {% if not request.user.is_authenticated2 %}
     {{ form.name|bulma }}
     {{ form.email|bulma }}
   {% endif %}

  {{ form.followup|bulma }}

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-primary">{% trans 'Send' %}</button>
    </div>
  </div>

</form>
